---
BasedOnStyle: WebKit
IndentWidth: 4
---
Language: Cpp
#ColumnLimit: 100

#AlignConsecutiveAssignments: Consecutive
#AlignConsecutiveDeclarations: Consecutive
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignEscapedNewlines: Left
AlignOperands: Align
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
Cpp11BracedListStyle: true
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentGotoLabels: false
PointerAlignment: Right
SortIncludes: Never
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
